<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.hanhuy.android.irc.lite"
      android:versionCode="31"
      android:versionName="0.2">
    <uses-sdk android:minSdkVersion="7" android:targetSdkVersion="15"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-feature android:name="android.hardware.touchscreen"
                  android:required="false"/>

    <application android:label="@string/app_name"
                 android:icon="@drawable/ic_appicon"
                 android:logo="@drawable/ic_appicon"
                 android:debuggable="true"
                 android:installLocation="auto"/>
    <!--
    <meta-data android:name="com.google.android.backup.api_key"
        android:value="AEdPqrEAAAAIKU_SLiEP2MRhsncxderquUs47kYTlDzgSHpggQ" />
    -->
</manifest>
